{% extends "base.html" %}

{% block title %}Add Professor | Assignment Tracking App{% endblock %}

{% block content %}

<div class="main">

    <h1> Add Professor</h1>
        <form action="{{ url_for('main.add_professor') }}" method="post">
            
            <label>Full Name:</label><br>
            <input type="text" name="full_name" required><br>

            <label>Email:</label><br>
            <input type="email" name="email" required><br>

            <input type="submit" value="Submit">
        </form>
</div>
{% endblock %}