{% extends "base.html" %}

{% block title %}Add Assignment | Assignment Tracking App{% endblock %}

{% block content %}

<div class="main">
    
    <h1>Add Assignment</h1>

    <form action="{{ url_for('main.add_assignment') }}" method="post">
        
        <label>Title:</label><br>
        <input type="text" name="title" required><br>

        <label>Description:</label><br>
        <input type="text" name="description"><br>

        <label>Class:</label><br>
        <select name="class_name" required>
            {% for c in classes %}
                <option value="{{ c.CID }}">{{ c.Title }}</option>
            {% endfor %}
        </select><br>

        <label>Due Date:</label><br>
        <input type="datetime-local" name="due_date" required><br>

        <label>Status:</label><br>
        <select name="status" required>
            {% for s in status %}
                <option value="{{s.SID}}">{{s.Name}}</option>
            {% endfor %}
        </select><br>

        <label>Grade:</label><br>
        <input type="number" name="grade" min="0" max="100" disabled><br><br>
        <input type="submit" value="Add Assignment">

    </form>
    <script>
        const statusSelect = document.querySelector('select[name="status"]');
        const gradeInput = document.querySelector('input[name="grade"]');

        statusSelect.addEventListener('change', function() {
            if (this.options[this.selectedIndex].text == 'Graded') {
                gradeInput.disabled = false;
                gradeInput.required = true;
            } else {
                gradeInput.disabled = true;
                gradeInput.value = '';
            }
        });
    </script>
</div>
{% endblock %}
