{% extends "base.html" %}

{% block title %}Home | Assignment Tracking App{% endblock %}

{% block content %}

<div class="main">

    <div class="right_side">
        <h1>Assignments</h1>
        <form action="/" method="post">
            <input type="text" name="assignment_name" id="assignment_name">
            <input type="submit" value="Add Assignment">
        </form>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Class</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Grade</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="">Delete</a>
                    <a href="">Update</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="divider"></div>

    <div class="left_side">

        <h1>Stats</h1>
        <table>
            <tr>
                <th>Total Assignments</th>
                <th>Average Grade</th>
                <th>Next Due Assignment</th>
            </tr>
        </table>

        <h1>Classes</h1>
        <form action="/" method="post">
            <input type="text" name="class_name" id="class_name">
            <input type="submit" value="Add Class">
        </form>
        <table>
            <tr>
                <th>Title</th>
                <th>Professor</th>
                <th>Assignment Count</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="">Delete</a>
                    <a href="">Update</a>
                </td>
            </tr>
        </table>

    </div>

</div>
{% endblock %}
