{% extends "base.html" %}

{% block title %}Home | Assignment Tracking App{% endblock %}

{% block content %}

<div class="main">

    <div class="left_side">
        <h1>Assignments</h1>
        <a href="{{ url_for('main.add_assignment') }}"> Add Assignment </a>
        <a href="{{ url_for('main.filter_assignment') }}">Filter</a>
        <a href="{{ url_for('main.show_all_assignments') }}">Show All Assignments</a>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Class</th>
                <th>Due Date</th>
                <th>Days Until Due</th>
                <th>Status</th>
                <th>Grade</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.Title }}</td>
                {% if assignment.Description %}
                <td>{{ assignment.Description }}</td>
                {% else %}
                <td>--</td>
                {% endif %}
                <td>{{ assignment.class_ref.Title }}</td>
                <td>{{ assignment.DueDate }}</td>

                {% if assignment.is_overdue and assignment.status.Name != 'Graded' %}
                <td style="color: red;">Overdue by {{ assignment.days_until_due |abs}} day(s)</td>
                {% elif assignment.status.Name == 'Graded' %}
                <td>--</td>
                {% else %}
                <td>{{ assignment.days_until_due }}</td>
                {% endif %}

                <td>{{ assignment.status.Name }}</td>
                {% if assignment.status.Name != 'Graded' %}
                <td> Not Graded</td>
                {% else %}  
                <td>{{ assignment.Grade }} </td>
                {% endif %}
                <td>{{ assignment.UpdatedDate }}</td>
                <td>
                    <a href="/update_assignment/{{ assignment.AID }}">Update</a>
                    <br>
                    <a href="/delete_assignment/{{ assignment.AID }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="divider"></div>

    <div class="right_side">

        <h1>Stats</h1>
        <table>
            <tr>
                <th>Total Assignments</th>
                <th>Overdue Assignments</th>
                <th>Next Due Assignment</th>
            </tr>
            
      
            <tr>
                <td>{{ assignments|count}}</td>
                <td>{{ assignments|selectattr("is_overdue", "equalto", true)|list|length }}</td>
            
                {% if assignments|rejectattr("status.Name", "in", ["Graded","Completed"])|list|length > 0 %}
                <td>{{ (assignments|
                        rejectattr("status.Name", "in", ["Graded","Completed"])|first).Title }}</td>
                {% else %}
                <td>No upcoming assignments</td>
                {% endif %}
            </tr>
        
            
        </table>

        <h1>Classes</h1>
        <a href="{{ url_for('main.add_class') }}"> Add Class </a>
        <table>
            <tr>
                <th>Title</th>
                <th>Professor</th>
                <th>Assignment Count</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            {% for class in classes %}
            <tr>
                <td>{{ class.Title }}</td>
                <td>{{ class.professor.FullName }}</td>
                <td>{{ class.assignments|count }}</td>
                <td>{{ class.UpdatedDate }}</td>
                <td>
                     <a href="/update_class/{{ class.CID }}">Update</a>
                    <br>
                    <a href="/delete_class/{{ class.CID }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
          <h1>Professors</h1>
        <a href="{{ url_for('main.add_professor') }}"> Add Professor </a>
        <table>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            {% for professor in professors %}
            <tr>
                <td>{{ professor.FullName }}</td>
                <td>{{ professor.Email }}</td>
                <td>{{ professor.UpdatedDate }}</td>
                <td>
                     <a href="/update_professor/{{ professor.PID }}">Update</a>
                    <br>
                    <a href="/delete_professor/{{ professor.PID }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
