{% extends "base.html" %}

{% block title %}Home | Assignment Tracking App{% endblock %}

{% block content %}

<div class="main">

    <div class="right_side">
        <h1>Assignments</h1>
        <a href="{{ url_for('main.add_assignment') }}"> Add Assignment </a>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Class</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Grade</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.description }}</td>
                <td>{{ assignment.class.title }}</td>
                <td>{{ assignment.due_date }}</td>
                <td>{{ assignment.status }}</td>
                <td>{{ assignment.grade }}</td>
                <td>{{ assignment.updated_date }}</td>
                <td>
                    <a href="{{ url_for('main.update_assignment', id=assignment.id) }}">Update</a>
                    <br>
                    <a href="{{ url_for('main.delete_assignment', id=assignment.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="divider"></div>

    <div class="left_side">

        <h1>Stats</h1>
        <table>
            <tr>
                <th>Total Assignments</th>
                <th>Average Grade</th>
                <th>Next Due Assignment</th>
            </tr>
        </table>

        <h1>Classes</h1>
        <a href="{{ url_for('main.add_class') }}"> Add Class </a>
        <table>
            <tr>
                <th>Title</th>
                <th>Professor</th>
                <th>Assignment Count</th>
                <th>Updated Date</th>
                <th>Actions</th>
            </tr>
            {% for class in classes %}
            <tr>
                <td>{{ class.title }}</td>
                <td>{{ class.professor.name }}</td>
                <td>{{ class.assignment_count }}</td>
                <td>{{ class.updated_date }}</td>
                <td>
                     <a href="{{ url_for('main.update_class', id=class.id) }}">Update</a>
                    <br>
                    <a href="{{ url_for('main.delete_class', id=class.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
